/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #289b61;
    border: none;
    color: white;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #167c49;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

#indexBackground {
    background-image: url('file:///tmp/mozilla_jz0/iu-removebg-preview.png');
}

.centered-form {
    background: #193c2b;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1d1f26;
    border: 4px solid #cca31d;
    background: #f7f7fa;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    flex-shrink: 0;
    overflow-y: scroll;
}

/* Chat styles */

.game__all {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.game__BlackJack {
    background-color: #193c2b;
    height: 70%;
    flex-shrink: 0;
    width: 100%;
    border: 5px solid #000000;
}

.chat__messages {
    flex-grow: 1;
    height: 30%;
    padding: 24px 24px 0 24px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1485px;
}

/* Message Styles */

.message {
    margin-bottom: 16px;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070cc;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.right-buttons {
    height: 674px;
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 28.9%;
    background-color: #193c2b;
    border: 5px solid #000000;
}

.startGameButton {
    background-color: #0070cc;
    width: 100%;
    margin-top: 10%;
}

.startGameButton:hover {
    background-color: #05365e;
}

.rulesButton {
    background-color: #0070cc;
    margin-top: 10%;
    width: 100%;
}

.rulesButton:hover {
    background-color: #05365e;
}

.showGameButton {
    background-color: #0070cc;
    margin-top: 10%;
}
.showGameButton:hover {
    background-color: #05365e;
}

.blackJack_body {
    background-color: #193c2b;
    color: #eeeeee;
}

.cardDealer {
    width: 46%;
    height: 180px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    border: 2px solid #cca31d;
    font-size: 20px;
}

.score {
    width: 30%;
    margin-left: 69%;
    margin-top: -28px;
    border: 1px solid #289b61;
    border-width: 30%;
}

.player3and4 {
    height: 240px;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
}

.player3 {
    height: 100%;
    width: 23%;
    border: 2px solid #cca31d;
    margin-left: 1%;
}

.player4 {
    height: 100%;
    width: 23%;
    margin-left: 52%;
    border: 2px solid #cca31d;
}

.playersScore {
    width: 35%;
    height: 12%;
    margin-left: 39%;

    margin-top: 110px;
    border: 1px solid #289b61;
}

.player1and2 {
    height: 240px;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
}

.player1 {
    height: 100%;
    width: 23%;
    border: 2px solid #cca31d;
    margin-left: 26%;
}

.player2 {
    height: 100%;
    width: 23%;
    border: 2px solid #cca31d;
    margin-left: 2%;
}

.rules_h1 {
    display: flex;
    justify-content: center;
}

#rules_h2_values {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border: 2px solid #0070cc;
    border-bottom: transparent;
}

.ziel {
    border: 2px solid #0070cc;
    margin-right: 20%;
    margin-left: 20%;
}

.mechanics {
    border: 2px solid #0070cc;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 2%;
}

.values {
    border: 2px solid #0070cc;
    border-top: transparent;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.Karte {
    margin-left: 20%;
    margin-right: 30%;
}

.botplayer1and2 {
    height: 240px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 22px;
}

.botplayer1_score {
    height: 100%;
    width: 46%;
    border: 2px solid #cca31d;
    margin: auto;
    margin-top: 3%;
}

.botCardDealer {
    width: 46%;
    height: 240px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    border: 2px solid #cca31d;
    font-size: 22px;
}

.botScore {
    width: 29%;
    height: 12%;
    border: 2px solid #0070cc;
    text-align: center;
    margin-bottom: -61%;
    margin-left: 69%;
}

.createCard {
    width: 20%;
    margin-left: 38%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.hit {
    width: 20%;
    border-radius: 100%;
    margin-left: 15%;
    padding: 5%;
}

.showResult {
    width: 100%;
    height: 100px;
    margin-top: 2%;
    font-family: 'Kalam';
    font-size: 70px;
    text-align: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 44%;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* loadBlackJack css */
.loadblackJack_body {
    background-color: #193c2b;
    color: #eeeeee;
}

.modheight {
    height: 660px;
    width: 1480px;
    color: #eeeeee;
}

.loadCardDealer {
    width: 25%;
    height: 140px;
    text-align: center;
    margin: auto;
    margin-top: 0.5%;
    border: 2px solid #cca31d;
    font-size: 22px;
}

.loadScore {
    width: 29%;
    height: 12%;
    border: 2px solid #0070cc;
    text-align: center;
    margin-left: 69%;
    font-size: 12px;
}

.loadplayer1and2 {
    width: 45%;
    height: 150px;
    margin-left: 27.5%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 22px;
}

.loadplayer3and4 {
    height: 150px;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 22px;
}

.loadplayer_score {
    height: 100%;
    width: 46%;
    border: 2px solid #cca31d;
    margin: auto;
    margin-top: 3%;
}

.loadplayer3_score {
    height: 140px;
    width: 306.8px;
    border: 2px solid #cca31d;
    margin-top: 3%;
    margin-left: 45px;
}

.loadplayer4_score {
    height: 140px;
    width: 306.8px;
    border: 2px solid #cca31d;
    margin-top: 3%;
    margin-left: 680px;
}

.loadshowResult {
    margin-top: 10px;
    font-family: 'Lobster', cursive;
    color: #b7f707d3;
}
